.star {
    font-size: 23px;
    color: gray;
    margin-right: 2px;
  }
  
  .star.full {
    color: gold;
  }
  
  .star.half {
    background: linear-gradient(90deg, gold 50%, gray 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  