@tailwind base;
@tailwind components;
@tailwind utilities;

.relative:hover .absolute {
    display: block;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

footer ul li a:hover {
    text-decoration: underline;
}

.main-background {
    transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.text-transition {
    transition: opacity 0.8s ease-in-out;
}